<section class="financial-tools">

	<div class="header">
		<span class="header-text">Financial Tools</span>
		<span class="header-desc">Benefit from a wide range of tools including an Economic Calendar and free access to services like Trading Central, Financial Source, and Seasonax.</span>
	</div>

	<div class="swiper">
		<app-swiper></app-swiper>
	</div>

	<div class="no-swiper-content">
		<div class="contents">
			<div class="content">
				<div class="text">

					<div class="header-wrapper">
					<span class="data-header">Trading Central</span>
					<img src="../../../assets/images/375_img/TC.svg" alt="">
					</div>

					<span class="data-desc">Gain free access to Trading Central and its trading signals, indicators, and risk management tools!</span>
					<span class="data-price">94$ per month</span>
					<span class="free">
	
						<span>
							<span>Free</span>
							<img src="../../../assets/images/Free_marker.svg" alt="">
						</span>
						with active HYCM Account
					</span>
				</div>
			</div>
			<div class="content">
				<div class="text">

					<div class="header-wrapper">
					<span class="data-header">Financial Source</span>
					<img src="../../../assets/images/375_img/Seasonax.svg" alt="">
					</div>

					<span class="data-desc">Track market moving events in real time with Financial Source! Stay tuned into what’s moving the markets and uncover the reasons why.</span>
					<span class="data-price">149$ per month</span>
					<span class="free">
	
						<span>
							<span>Free</span>
							<img src="../../../assets/images/Free_marker.svg" alt="">
						</span>
						with active HYCM Account
					</span>
				</div>
			</div>
			<div class="content">
				<div class="text">

					<div class="header-wrapper">
					<span class="data-header">Seasonax</span>
					<img src="../../../assets/images/375_img/Seasonax_3.svg" alt="">
					</div>

					<span class="data-desc">Identify seasonal investment opportunities for more than 20,000 instruments with Seasonax!</span>
					<span class="data-price">94$ per month</span>
					<span class="free">
	
						<span>
							<span>Free</span>
							<img src="../../../assets/images/Free_marker.svg" alt="">
						</span>
						with active HYCM Account
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="button-wrapper">
		<button class="join-button">Join Now</button>
	</div>

	<div class="why-trade">

		<div class="header-2">
			<span class="header-text">Why Trade Forex with <span>HYCM</span></span>
		</div>

		<div class="info-section">

			<div class="row-1">

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_1.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">Low</span>
						<span class="text-2">Spreads</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_2.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">Fast</span>
						<span class="text-2">Execution</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_3.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">Flexible <span class="leverage-top">Leverage</span></span>
						<span class="text-2"><span class="leverage-bottom">Leverage </span>Up to 1:500</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

			</div>

			<div class="row-2">

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_4.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">Award Winning</span>
						<span class="text-2">Broker</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_5.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">Free Financial</span>
						<span class="text-2">Tools</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

				<div class="info">

					<div class="icon">
	
						<img src="../../../assets/images/Mask groupinfo_6.svg" alt="">
					</div>
	
					<div class="text">
						<span class="text-1">24/5</span>
						<span class="text-2">Support</span>
					</div>
					
					<div class="checkmark-icon">
						<img src="../../../assets/images/Group 9checkmark.svg" alt="">
					</div>
	
				</div>

			</div>
			

			

		</div>

		

	</div>

	<div class="feautured">
		<hr>
		<span class="feautured-text">Also featured in</span>
		<hr>
	</div>

</section>