<section class="footer-section">

	<footer class="footer">

		<div class="links">
			<span>Legal Forms & Documents</span>
			<span class="risk">Risk Warnings</span>
			<span>Cookies Policy</span>
		</div>

		<div class="footer-info">

			<div class="footer-info-text">
				<span><span>High Risk Investment Warning:</span> Contracts for Difference (‘CFDs’) are complex financial products that are traded on margin. Trading CFDs carries a high degree of risk. It is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved. Seek independent expert advice if necessary and speculate only with funds that you can afford to lose. Please think carefully whether such trading suits you, taking into consideration all the relevant circumstances as well as your personal resources. We do not recommend clients posting their entire account balance to meet margin requirements. Clients can minimise their level of exposure by requesting a change in leverage limit. For more information please refer to HYCM’s Risk Disclosure.</span>
			</div>

			<div class="footer-info-text">
				<span><span>Disclaimer:</span> The content of this page is for information purposes only and it is not intended as a recommendation or advice. Any indication of past performance or simulated past performance included in advertisements published by HYCM is not a reliable indicator of future results. The customer carries the sole responsibility for all the businesses or investments that are carried out at HYCM.</span>
			</div>

			<div class="footer-info-text">
				<span><span>Restrictions:</span> We do not offer our services to residents of certain jurisdictions such as Afghanistan, Belgium, Hong Kong, Japan, the United States of America and some other regions. For more information please refer to our Help Center.</span>
			</div>

		</div>

		<div class="market-info">

			<div class="info-wrapper">

				<div class="icon">
					<img src="../../../assets/images/Regulated_icon.svg" alt="">
				</div>
				<div class="icon-info">
					<span>Fully Regulated</span>
				</div>

				<hr>

			</div>

			<div class="row-wrapper">

				<div class="row-1">

					<div class="info-wrapper">
	
						<div class="icon">
							<img src="../../../assets/images/Brittish_flag.svg" alt="">
						</div>
						<div class="icon-info">
							<span><span class="dark">Capital Markets (UK)</span>  Limited is authorized and regulated under the <span class="dark">Financial Conduct Authority</span> with reference number <span class="red">186171</span></span>
						</div>
		
		
					</div>
		
					<div class="info-wrapper">
		
						<div class="icon">
							<img src="../../../assets/images/Cyprus_flag.svg" alt="">
						</div>
						<div class="icon-info">
							<span><span class="dark">HYCM (Europe) Ltd</span> is authorized and regulated under the <span class="dark">Cyprus Securities and Exchange Commission</span> under license number <span class="red">259/14</span></span>
						</div>
		
					</div>
	
				</div>
	
				<div class="row-2">
	
					<div class="info-wrapper">
	
						<div class="icon">
							<img src="../../../assets/images/Cayman_Flag.svg" alt="">
						</div>
						<div class="icon-info">
							<span><span class="dark">HYCM Ltd</span> is authorized and regulated under the <span class="dark">Cayman Islands Monetary Authority</span> under reference number <span class="red">1442313.</span></span>
						</div>
						
					</div>
		
					<div class="info-wrapper">
		
						<div class="icon">
							<img src="../../../assets/images/UAE_flag.svg" alt="">
						</div>
						<div class="icon-info">
							<span><span class="dark">Henyep Capital Markets (DIFC)</span> Limited is authorized and regulated by the <span class="dark">Dubai Financial Services Authority</span> with license number <span class="red">000048</span></span>
						</div>
						
					</div>
	
				</div>

			</div>
			
		</div>

		<div class="footer-info">

			<div class="footer-info-text">
				<span><span>Legal Information:</span> HYCM is the trading name of Henyep Capital Markets (UK) Limited, HYCM (Europe) Ltd, HYCM Limited and Henyep Capital Markets (DIFC) Limited for which the Henyep Capital Markets group is holding company and its assets are a controlling equity interest in them.
			</span>
			</div>

		</div>

		<div class="copyright">
			<span>Copyright © 2021 HYCM.</span>
		</div>

	</footer>

</section>