<section class="trading-steps">

	<div class="header">
		<span class="hedaer-text">Start Trading with a Trust Broker</span>
	</div>

	<div class="steps">

		<div class="step">
			<span class="step-num num-1">1</span>
			<img src="../../../assets/images/Mask groupstep_1.svg" alt="">
			<span class="step-text">Complete the registration form</span>
		</div>

		<div class="arrow">
			<img src="../../../assets/images/Arrow 3arrow.svg" alt="">
		</div>

		<div class="step">
			<span class="step-num num-2">2</span>
			<img src="../../../assets/images/Mask groupstep_2.svg" alt="">
			<span class="step-text">Deposit using your preferred payment method</span>
		</div>

		<div class="arrow">
			<img src="../../../assets/images/Arrow 3arrow.svg" alt="">
		</div>

		<div class="step">
			<span class="step-num num-3">3</span>
			<img src="../../../assets/images/Mask groupstep_3.svg" alt="">
			<span class="step-text">Pick the currency pair you wish to trade</span>
		</div>

		<div class="arrow">
			<img src="../../../assets/images/Arrow 3arrow.svg" alt="">
		</div>

		<div class="step step-4">
			<span class="step-num num-4">4</span>
			<img src="../../../assets/images/Mask groupstep_4.svg" alt="">
			<span class="step-text">Start your trading journey or practice with a Demo Account</span>
		</div>

	</div>

</section>